html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Open Sans', Verdana, sans-serif;
}

h1 {
    font-family: 'Poppins', Verdana, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
}